<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHomeStay" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56162/HomeStay.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHomeStay" contract="ServiceReference1.IHomeStay"
        name="BasicHttpBinding_IHomeStay" />
    </client>
  </system.serviceModel>
</configuration>